* {    
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #22262A;
  font: normal 400 15px/22px 'Poppins', sans-serif;
  background-color: #FFFFFF;
  width: 900px;
  margin: 0 auto;
}

button {
  border: 1px solid rgb(114, 114, 114);
  margin-left: 3px;
  padding: 3px 10px;
  cursor: pointer;
  transition: 0.4s;
}

.selected-btn {
  background-color: rgb(114, 114, 114);
  color: white 
}

.unselected-btn {
  background-color: white;
  color: black 
}

.container {
  width: 100%;
  margin: 0 auto;
}

.toolbar {
  margin-top: 12px;
  margin-bottom: 12px;
}

img {
  margin-left: 10px;
  margin-bottom: 10px;
  vertical-align: top;
}